
.miscImg{
    height:50px;
}
/* .nav-scroller{
 
    column-gap: 50px;
  } */
  .nav{
    position:sticky;
    top:0;
  
    z-index: 10;
  }
  .top-nav-scrolled{
    top:20px;

  }
  .top-nav{
    position:fixed;
margin-bottom: 20rem;
    z-index: 10;
    top:-10px;
    right:0px;
    
  }
  .navbar-color{
    background-color:#BCCCB2;
  

  }
  .nav-scrolled{
    /* background-color: transparent; */
    background-color:#BCCCB2;
    opacity:0.4;
    box-shadow: 3px 3px 6px gray;
  }